In [46]:
#Import required library
import pandas as pd
import numpy as np

In [47]:
#Read the CSV file
data = pd.read_csv(r"C:\Users\User\Desktop\Inceptez_datascience\Data preparation\Activities\train_v9rqX0R.csv")

In [48]:
#Shape of the database
data.shape

(8523, 12)

In [49]:
#Get the max, min, mean & std
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Item_Weight,7060.0,12.857645,4.643456,4.555,8.773750,12.600000,16.850000,21.350000
Item_Visibility,8523.0,0.066132,0.051598,0.000,0.026989,0.053931,0.094585,0.328391
Item_MRP,8523.0,140.992782,62.275067,31.290,93.826500,143.012800,185.643700,266.888400
Outlet_Establishment_Year,8523.0,1997.831867,8.371760,1985.000,1987.000000,1999.000000,2004.000000,2009.000000
Item_Outlet_Sales,8523.0,2181.288914,1706.499616,33.290,834.247400,1794.331000,3101.296400,13086.964800

In [50]:
#additional information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [51]:
#get the null values
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [52]:
#get the categorical and numerical future
categorical_data = data.select_dtypes(exclude=np.number)
print("categorical_data:",categorical_data.shape[1])
numerical_data = data.select_dtypes(include=np.number)
print("numerical_data:",numerical_data.shape[1])

categorical_data: 7
numerical_data: 5

In [53]:
# check the duplicate records
data.duplicated().sum()

0

In [54]:
# check the null value
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [55]:
#Script to find the outliers
for col_name in data.select_dtypes(include=np.number).columns[:-1]:
    print(col_name)
    q1 = data[col_name].quantile(0.25)
    q3 = data[col_name].quantile(0.75)
    iqr = q3 - q1
    
    low = q1-1.5*iqr
    high = q3+1.5*iqr
    print("Outliers = ",data.loc[(data[col_name] < low) | (data[col_name] > high), col_name])

Item_Weight
Outliers =  Series([], Name: Item_Weight, dtype: float64)
Item_Visibility
Outliers =  49      0.255395
83      0.293418
108     0.278974
174     0.291865
334     0.204700
          ...
8292    0.209163
8345    0.266397
8371    0.214125
8432    0.227261
8509    0.214306
Name: Item_Visibility, Length: 144, dtype: float64
Item_MRP
Outliers =  Series([], Name: Item_MRP, dtype: float64)
Outlet_Establishment_Year
Outliers =  Series([], Name: Outlet_Establishment_Year, dtype: int64)

In [56]:
# Item_Weight numerical column filled with mean value group by item type
Item_Type_Weight=dict(data.groupby(['Item_Type']).Item_Weight.mean())
Item_Type_Weight['Seafood']

12.5528431372549

In [57]:
data.Item_Weight.fillna(data.Item_Type.map(Item_Type_Weight),inplace=True)
data.query('Item_Type == "Seafood"')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
231,FDG33,12.552843,Regular,0.139561,Seafood,170.4764,OUT027,1985,Medium,Tier 3,Supermarket Type3,3435.5280
713,FDH21,10.395000,Low Fat,0.031274,Seafood,160.0604,OUT049,1999,Medium,Tier 1,Supermarket Type1,1267.6832
716,FDG21,17.350000,Regular,0.146896,Seafood,149.6050,OUT018,2009,Medium,Tier 3,Supermarket Type2,3745.1250
866,FDJ57,7.420000,Regular,0.021570,Seafood,184.8582,OUT035,2004,Small,Tier 2,Supermarket Type1,4643.9550
867,FDJ45,12.552843,Low Fat,0.073055,Seafood,33.7216,OUT027,1985,Medium,Tier 3,Supermarket Type3,1280.9992
...,...,...,...,...,...,...,...,...,...,...,...,...
8324,FDF33,7.970000,Low Fat,0.021579,Seafood,105.9596,OUT045,2002,NaN,Tier 2,Supermarket Type1,2049.3324
8328,FDI57,19.850000,Low Fat,0.054246,Seafood,196.0768,OUT018,2009,Medium,Tier 3,Supermarket Type2,5518.1504
8395,FDG21,17.350000,Regular,0.000000,Seafood,150.2050,OUT045,2002,NaN,Tier 2,Supermarket Type1,5992.2000
8423,FDJ57,7.420000,Regular,0.021662,Seafood,187.7582,OUT018,2009,Medium,Tier 3,Supermarket Type2,2600.6148
8496,FDJ57,7.420000,Regular,0.021696,Seafood,185.3582,OUT017,2007,NaN,Tier 2,Supermarket Type1,3715.1640

In [58]:
#Outlet size is a catogrical column - null values are filled by mode
data.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [59]:
#Replace null values with Medium (mode) in outlet size
data['Outlet_Size']= data['Outlet_Size'].fillna(data['Outlet_Size'].mode()[0])

In [60]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [61]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [62]:
data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [63]:
data.Item_Fat_Content.replace({'LF':'Low Fat','low fat':'Low Fat','reg':'Regular'},inplace=True)
data.Item_Fat_Content.value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [65]:
data['Item_Fat_Content'].replace({'Low Fat':0,'Regular':1}, inplace = True)
data.Item_Fat_Content.value_counts()

0    5517
1    3006
Name: Item_Fat_Content, dtype: int64

In [64]:
data["Item_Type"].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [66]:
#we are removing Item_Fat_Content column because we have done label encoding before
numerical_data = data.select_dtypes(include=np.number).drop(columns=['Item_Fat_Content'])

In [67]:
categorical_data = data.select_dtypes(exclude=np.number)

In [68]:
#Performng standard scaling
from sklearn.preprocessing import StandardScaler
 
std_scale = StandardScaler()
df_std = std_scale.fit_transform(numerical_data)

In [69]:
df_std

array([[-0.84060081, -0.97073217,  1.74745381,  0.13954076,  0.910601  ],
       [-1.63917263, -0.90811123, -1.48902325,  1.33410274, -1.01844035],
       [ 1.0967628 , -0.95691733,  0.01004021,  0.13954076, -0.04923754],
       ...,
       [-0.53345779, -0.59978449, -0.89720755,  0.73682175, -0.57909963],
       [-1.33439226,  1.53287976, -0.60797692,  1.33410274, -0.19672492],
       [ 0.45885039, -0.41193591, -1.05226104, -0.09937163, -0.82959407]])

In [70]:
numerical_data_preprocessed = pd.DataFrame(df_std,columns = numerical_data.columns)

In [71]:
numerical_data_preprocessed

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
0,-0.840601,-0.970732,1.747454,0.139541,0.910601
1,-1.639173,-0.908111,-1.489023,1.334103,-1.018440
2,1.096763,-0.956917,0.010040,0.139541,-0.049238
3,1.498411,-1.281758,0.660050,0.020085,-0.849103
4,-0.928018,-1.281758,-1.399220,-1.293934,-0.695373
...,...,...,...,...,...
8518,-1.415903,-0.181193,1.180783,-1.293934,0.349915
8519,-1.057964,-0.371154,-0.527301,0.497909,-0.956402
8520,-0.533458,-0.599784,-0.897208,0.736822,-0.579100
8521,-1.334392,1.532880,-0.607977,1.334103,-0.196725
8522,0.458850,-0.411936,-1.052261,-0.099372,-0.829594

In [72]:
categorical_data_processed = pd.get_dummies(categorical_data)

In [73]:
pre_processed_data = pd.concat([numerical_data_preprocessed,categorical_data_processed,data['Item_Fat_Content']], axis = 1)

In [74]:
pre_processed_data

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Fat_Content
0,-0.840601,-0.970732,1.747454,0.139541,0.910601,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
1,-1.639173,-0.908111,-1.489023,1.334103,-1.018440,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,1
2,1.096763,-0.956917,0.010040,0.139541,-0.049238,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0
3,1.498411,-1.281758,0.660050,0.020085,-0.849103,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,1
4,-0.928018,-1.281758,-1.399220,-1.293934,-0.695373,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,-1.415903,-0.181193,1.180783,-1.293934,0.349915,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
8519,-1.057964,-0.371154,-0.527301,0.497909,-0.956402,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
8520,-0.533458,-0.599784,-0.897208,0.736822,-0.579100,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,0
8521,-1.334392,1.532880,-0.607977,1.334103,-0.196725,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,1
8522,0.458850,-0.411936,-1.052261,-0.099372,-0.829594,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0